extends ../layout


block content
  h1= title
  p My first three.js app #{title}
  script(src='/javascripts/hello-webxr.js')
    //include ../../app/hello-webxr.js
  button(onclick='activateXR()') Start Hello WebXR
